In [1]:
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import time
import pandas as pd
import h5py
import os
from sklearn.preprocessing import LabelEncoder
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics

from sklearn.svm import LinearSVC

from sklearn.svm import SVC

from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from IPython.display import Image, display_png
#import pydotplus as pdp

from sklearn.ensemble import RandomForestClassifier

import seaborn as sns

In [2]:
dic_type={}
dic_type[1]="str"
dic_type[2]="str"
for i in range(3,11):
    dic_type[2]="float64"

In [3]:
ft2=pd.read_table("/Users/tsunodaut03/Downloads/10_genes.gct", sep="\t", header=2,dtype=dic_type)

/Users/tsunodaut03/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

In [4]:
ft2.head()

,Name,Description,GTEX-1117F-0226-SM-5GZZ7,GTEX-111CU-1826-SM-5GZYN,GTEX-111FC-0226-SM-5N9B8,GTEX-111VG-2326-SM-5N9BK,GTEX-111YS-2426-SM-5GZZQ,GTEX-1122O-2026-SM-5NQ91,GTEX-1128S-2126-SM-5H12U,GTEX-113IC-0226-SM-5HL5C,...,GTEX-ZVE2-0006-SM-51MRW,GTEX-ZVP2-0005-SM-51MRK,GTEX-ZVT2-0005-SM-57WBW,GTEX-ZVT3-0006-SM-51MT9,GTEX-ZVT4-0006-SM-57WB8,GTEX-ZVTK-0006-SM-57WBK,GTEX-ZVZP-0006-SM-51MSW,GTEX-ZVZQ-0006-SM-51MR8,GTEX-ZXES-0005-SM-57WCB,GTEX-ZXG5-0005-SM-57WCN
0,ENSG00000223972.4,DDX11L1,0.10820,0.11580,0.02104,0.02329,0.00000,0.04641,0.03076,0.09358,...,0.09012,0.14620,0.10450,0.00000,0.6603,0.69500,0.12130,0.41690,0.23550,0.14500
1,ENSG00000227232.4,WASH7P,21.40000,11.03000,16.75000,8.17200,7.65800,9.37200,10.08000,13.56000,...,3.92600,13.13000,5.53700,5.78900,8.4390,7.84300,12.39000,12.53000,8.02700,12.76000
2,ENSG00000243485.2,MIR1302-11,0.16020,0.06433,0.04674,0.00000,0.05864,0.00000,0.13670,0.20790,...,0.08008,0.03607,0.00000,0.10590,0.0000,0.06432,0.05388,0.00000,0.04756,0.05367
3,ENSG00000237613.2,FAM138A,0.05045,0.00000,0.02945,0.03260,0.00000,0.00000,0.08610,0.13100,...,0.00000,0.06818,0.07309,0.03336,0.0000,0.08105,0.00000,0.05304,0.02996,0.03381
4,ENSG00000268020.2,OR4G4P,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.11080,0.05619,...,0.00000,0.00000,0.00000,0.00000,0.0000,0.00000,0.08739,0.00000,0.00000,0.04353

In [5]:
print(ft2.shape)

(7, 11690)

In [6]:
ft1=ft2.transpose()

In [7]:
ft1.head()

,0,1,2,3,4,5,6
Name,ENSG00000223972.4,ENSG00000227232.4,ENSG00000243485.2,ENSG00000237613.2,ENSG00000268020.2,ENSG00000240361.1,ENSG00000186092.4
Description,DDX11L1,WASH7P,MIR1302-11,FAM138A,OR4G4P,OR4G11P,OR4F5
GTEX-1117F-0226-SM-5GZZ7,0.1082,21.4,0.1602,0.05045,0,0,0
GTEX-111CU-1826-SM-5GZYN,0.1158,11.03,0.06433,0,0,0.1051,0
GTEX-111FC-0226-SM-5N9B8,0.02104,16.75,0.04674,0.02945,0,0.07637,0

In [15]:
ft1_new = ft1.drop("Description", axis=0).drop("Name", axis=0)

In [16]:
ft1_new.head()

,0,1,2,3,4,5,6
GTEX-1117F-0226-SM-5GZZ7,0.1082,21.4,0.1602,0.05045,0,0,0
GTEX-111CU-1826-SM-5GZYN,0.1158,11.03,0.06433,0,0,0.1051,0
GTEX-111FC-0226-SM-5N9B8,0.02104,16.75,0.04674,0.02945,0,0.07637,0
GTEX-111VG-2326-SM-5N9BK,0.02329,8.172,0,0.0326,0,0,0
GTEX-111YS-2426-SM-5GZZQ,0,7.658,0.05864,0,0,0,0.09811

In [8]:
df2=pd.read_csv("/Users/tsunodaut03/Downloads/answer.csv", delimiter="\t")

In [9]:
df2.head()

                     SAMPID            SMTS
0  GTEX-1117F-0003-SM-58Q7G           Blood
1  GTEX-1117F-0003-SM-5DWSB           Blood
2  GTEX-1117F-0003-SM-6WBT7           Blood
3  GTEX-1117F-0226-SM-5GZZ7  Adipose Tissue
4  GTEX-1117F-0426-SM-5EGHI          Muscle

In [40]:
merge=pd.merge(df2, ft1,left_on="SAMPID",right_index=True)

In [53]:
print(merge.shape)

(11688, 9)

In [47]:
df3=merge.iloc[:,:2].copy()

In [48]:
ft3=merge.drop("SMTS", axis=1)

In [49]:
label = LabelEncoder()
#ラベルを覚えさせる
label = label.fit(df3['SMTS'])
#ラベルを整数に変換
df3['tissue'] = label.transform(df3['SMTS'])
df3.head()

                     SAMPID            SMTS  tissue
3  GTEX-1117F-0226-SM-5GZZ7  Adipose Tissue       0
4  GTEX-1117F-0426-SM-5EGHI          Muscle      15
5  GTEX-1117F-0526-SM-5EGHJ    Blood Vessel       4
6  GTEX-1117F-0626-SM-5N9CS    Blood Vessel       4
7  GTEX-1117F-0726-SM-5GIEN           Heart      11

In [60]:
X_train, X_test, y_train, y_test =train_test_split(ft3.iloc[:,1:],df3.iloc[:,2])

In [56]:
print(ft3.head())

                     SAMPID        0      1       2        3  4        5  \
3  GTEX-1117F-0226-SM-5GZZ7   0.1082   21.4  0.1602  0.05045  0        0
4  GTEX-1117F-0426-SM-5EGHI  0.08177  15.03       0        0  0  0.04947
5  GTEX-1117F-0526-SM-5EGHJ        0  17.53       0  0.05547  0        0
6  GTEX-1117F-0626-SM-5N9CS        0  23.82       0        0  0        0
7  GTEX-1117F-0726-SM-5GIEN  0.02271  7.443  0.1514  0.03179  0        0

         6
3        0
4   0.1013
5  0.07366
6        0
7  0.04221

In [59]:
print(ft3.iloc[:,1:].head())

         0      1       2        3  4        5        6
3   0.1082   21.4  0.1602  0.05045  0        0        0
4  0.08177  15.03       0        0  0  0.04947   0.1013
5        0  17.53       0  0.05547  0        0  0.07366
6        0  23.82       0        0  0        0        0
7  0.02271  7.443  0.1514  0.03179  0        0  0.04221

In [61]:
print(type(ft3))

<class 'pandas.core.frame.DataFrame'>